/* Colors */
$white: #FFF;
$black: #000;
$green_faco: #98ce1e;
$body-bg: #fff;
$rojo: #EB0029;

/* Fonts */
$font-nova: 'nova_regular', sans-serif;
$font-novaB: 'nova_bold', sans-serif;
/* Fonts sizes */
$font-size-base: 16px;
$font-size-small:ceil(($font-size-base * 0.85)); // ~12px